PR_Ai_Agent_copy (1).json
{
  "name": "PR Ai Agent copy",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search?domain={{$json[\"domain\"]}}&api_key=23e9b96da06b610a509bea6bd22dbd48f2d4a197",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        40
      ],
      "id": "d7dd3145-2391-46ff-8bd8-dcaa513c36a0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    let emails = item.json.data.emails;\n    let bestEmail = emails.length > 0 ? emails[0].value : \"No email found\";\n\n    return {\n        json: {\n            name: item.json.data.organization,\n            website: item.json.data.domain,\n            email: bestEmail\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        40
      ],
      "id": "db0cc61e-72b0-4c77-bece-f60ca1ba39ab",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1brXRwso0eqgfy9MJkVX4OgNmbnIHHbhLiGVbmpCpjcw",
          "mode": "list",
          "cachedResultName": "companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1brXRwso0eqgfy9MJkVX4OgNmbnIHHbhLiGVbmpCpjcw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1brXRwso0eqgfy9MJkVX4OgNmbnIHHbhLiGVbmpCpjcw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.name }}",
            "Website": "={{ $json.website }}",
            "Partnership Email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Partnership Email",
              "displayName": "Partnership Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1900,
        40
      ],
      "id": "339c34a3-243f-45f9-ac40-14d0d07488fb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tvk6Hi3cfFKUO1R0",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "options": {
          "sendTo": "={{ $json['Partnership Email'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2120,
        40
      ],
      "id": "49188198-e3ea-4b55-99d5-8a73978cf40b",
      "name": "Gmail",
      "webhookId": "9b75c35e-7fb7-4b7f-9599-4d348807283b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "/metoai",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73c16268-c147-4c39-928f-393d7e9b373c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MetoAi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54eeae0a-d1a7-4201-adab-35995891cc05",
                    "leftValue": "/pragent",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRagent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f834741-c53a-4e04-8f1b-fe94d29bf1c9",
                    "leftValue": "/status",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        -160
      ],
      "id": "a8d26882-b64e-4f38-bead-4d4348c601f9",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are MetoAI, a personal AI assistant that responds in a friendly and professional tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        552,
        -460
      ],
      "id": "da8bd03c-d4dd-49fd-9463-c8e5932a9ceb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        460,
        -240
      ],
      "id": "f8350bc9-4530-4731-bdfc-b5c983e14020",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "yVBE45rS1p8jOORU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        -240
      ],
      "id": "cb17be31-bbe2-45eb-8a61-d01824eb3027",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "gl": "IN",
          "google_domain": "google.com",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        700,
        -240
      ],
      "id": "8d128c2d-c74f-47c9-b1ff-dbec2c1421dd",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "hrQnqC0n1cZgD6GR",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OlpFjSITY8NHeT4gXqiU8pVEicbeyWMzlCqT5CbOpOc",
          "mode": "list",
          "cachedResultName": "new companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OlpFjSITY8NHeT4gXqiU8pVEicbeyWMzlCqT5CbOpOc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OlpFjSITY8NHeT4gXqiU8pVEicbeyWMzlCqT5CbOpOc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        820,
        -240
      ],
      "id": "5c20199f-6a5c-4424-964b-29ffded53129",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PxldtZ0gF8umfpHz",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find tech companies in {{$json[\"message\"][\"text\"]}} that are potential sponsors. Extract their name and website.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        552,
        40
      ],
      "id": "ae6f6739-4f88-471c-ac46-859e191e7058",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "id": "41988318-0677-4b1e-b551-3c56819f25ca",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "yVBE45rS1p8jOORU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        760,
        260
      ],
      "id": "21733f3d-ca83-4e9f-9eda-4afaef2e9ed1",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "hrQnqC0n1cZgD6GR",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        260
      ],
      "id": "90b95939-8fec-4a00-b434-81583aa88a10",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "70643ebb-3f67-421c-8424-3f8af7844185",
      "name": "Telegram Trigger",
      "webhookId": "d99c5acb-3108-4c5a-baed-5e948b3c3dab",
      "credentials": {
        "telegramApi": {
          "id": "soEXDASsS3ams2nt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$node[\"AI Agent\"].json[\"response\"]}}",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -440
      ],
      "id": "fed70566-6242-4828-9ca9-d216c741d458",
      "name": "Telegram",
      "webhookId": "304757d9-3ff4-4ca0-bd96-16a8e5f68690",
      "credentials": {
        "telegramApi": {
          "id": "soEXDASsS3ams2nt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98a6537f-1759-4307-bbaa-dd104f1d0b69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "095a7c3242ff8455496a95be8641dc4c5093d43f435fd3fcd6b689011bae03ae"
  },
  "id": "dW7nJbeDzwig3m2I",
  "tags": []
}